spring:
  app:
    proof: "I AM LOADING application.yml"
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

security:
  jwt:
    secret-key: ${JWT_SECRET}
