spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

security:
  jwt:
    secret-key: ${JWT_SECRET}

server:
  port: ${PORT:8080}
